#!/usr/bin/make -f

# SOURCE_DATE_EPOCH set by dh
export DEB_CPPFLAGS_MAINT_APPEND = -Wno-error=date-time

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

PYVERSION=$(shell dpkg-parsechangelog -S Version)

%:
	dh $@ --with pkgkde_symbolshelper,python3

override_dh_auto_configure:
	dh_auto_configure -- -DFLATBUFFERS_BUILD_SHAREDLIB=ON

override_dh_auto_build-arch:
	dh_auto_build --arch

	set -e; cd python && for pv in $(shell py3versions -vr); do \
		VERSION=$(PYVERSION) python$$pv setup.py build; \
	done

override_dh_auto_install-arch:
	dh_auto_install --arch

	# Python3 install.
	set -e; \
	cd python && for pv in $(shell py3versions -vr); do \
		python$$pv setup.py install \
			--install-layout=deb --no-compile \
			--root=$(CURDIR)/debian/python3-flatbuffers; \
	done
	find $(CURDIR)/debian/python3-flatbuffers -name 'flatbuffers-*-nspkg.pth' -delete
